@import "bootstrap";

.navUl {
font-size: 20px;
}
.colorNav{
  background-color: #2E1114;
}

.bg{
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, white, rgba(255,255,255,0), rgba(248,248,248,0) ,rgba(245,245,245, 1), rgba(232,232,232, 1) ,rgba(220,220,220 ,1));
}

.card {
  width: 250px;
  height: 250px;
}

.mainDiv{
  background-color: #64485c;
  color: white;
}

.cardColor{
  background-color: white;
  opacity: 0.7;

}

.cardBottom{
  margin: 10px;
}
.col {
position: relative;
  margin-left: 0;
}

.center{
  text-align: center;
}

.bottom{
  position: absolute;
 bottom: 5px;

 .bgColor{
   background-color: blue;
 }

}
