@import "bootstrap";

.navUl {
font-size: 20px;
}
.colorNav{
  background-color: #2E1114;
}

.bg{
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, white, rgba(255,255,255,0), rgba(248,248,248,0) ,rgba(245,245,245, 1), rgba(232,232,232, 1) ,rgba(220,220,220 ,1));
}

.card {
  width: 500px;
  height: 250px;
}

.mainDiv{
  background-color: #64485c;
  color: white;
}

.cardColor{
  background-color: white;
  opacity: 0.7;

}

.cardBottom{
  margin: 10px;
}
.col {
position: relative;
  margin-left: 0;
}

.center{
  text-align: center;
}

.bottom{
  position: absolute;
 bottom: 5px;

 .bgColor{
   background-color: blue;
 }

}

#banner-txt {
  font-style: italic;
  font-family: "Playfair Display";
}

.jeo-instr {
  margin: 1em;
}

.jeo-instr-box {
  flex-flow: row wrap;
  max-width: 100%;
  justify-content: space-around;
}

.jeo-link {
  text-decoration: underline;
}

.card-img {
  width: 100%;
}

.card-img-box {
  width: 50%;
  vertical-align: middle;
}

.card-body {
  max-width: 250px;
}

.instr-list {
  width: 500px;
}

.pill-img {
  height: 2.5em;
  width: 4em;
}

.games-card {
  margin: 1em;
  border: 1px solid black;
  width: auto;
  height: auto;
  padding-left: 8em;
  padding-right: 8em;
}

.amzn-login {
  width: 312px;
  height: 64px;
}