@import "bootstrap";

.navUl {
font-size: 20px;
}
.colorNav{
  background-color: #2E1114;
}

.card {
  width: 250px;
  height: 250px;
}

.mainDiv{
  background-color: #64485c;
  color: white;
}

.cardColor{
  background-color: white;
  opacity: 0.7;

}

.cardBottom{
  margin: 10px;
}
.col {
position: relative;
  margin-left: 0;
}

.center{
  text-align: center;
}

.bottom{
  position: absolute;
 bottom: 5px;

}
